<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>Welcome to MovieBuzz About Page</h1>
    <a>From the latest blockbusters to timeless classics and hidden gems, we’ve got it all. Discover films you’ve already seen and leave insightful reviews to guide fellow movie lovers, or explore the thoughts of others to help choose your next purchase. Whether you’re in the mood for a laugh-out-loud comedy or a spine-chilling horror, you’ll find your favorites here. Join MovieBuzz today for all the latest buzz in cinema!</a>
</body>
</html>