{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_head %}

{% block content %}
<header class="masthead bg-index text-center py-4">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h1 class="custom-header">MovieBuzz</h1>
    <p class="custom-subheader">Your Ticket to Unlimited Entertainment!</p>
  </div>
</header>

<!-- Our Selection Section -->
<div class="row mt-5">
  <div class="col-12 text-center">
    <h2 class="custom-selection-header">Our Selection</h2>
  </div>
</div>
<div class="row justify-content-center">
  <!-- Movie Card 1 -->
  <div class="col-md-4 mb-4">
    <div class="card shadow-lg">
      <div class="text-center">
        <img src="{% static 'img/inception.jpg' %}" class="card-img-top img-custom" alt="Movie 1">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Inception</h5>
      </div>
    </div>
  </div>

  <!-- Movie Card 2 -->
  <div class="col-md-4 mb-4">
    <div class="card shadow-lg">
      <div class="text-center">
        <img src="{% static 'img/avatar.jpg' %}" class="card-img-top img-custom" alt="Movie 2">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Avatar</h5>
      </div>
    </div>
  </div>

  <!-- Movie Card 3 -->
  <div class="col-md-4 mb-4">
    <div class="card shadow-lg">
      <div class="text-center">
        <img src="{% static 'img/dark.jpg' %}" class="card-img-top img-custom" alt="Movie 3">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">The Dark Knight</h5>
      </div>
    </div>
  </div>
</div>

{% endblock content %}